---
import Layout from '@/layouts/Layout.astro';
import Post from '@/components/Post.astro'
import { Section, SectionContent, SectionProse } from "@/components/ui/section"
import type { $input } from 'astro:schema';
const allPosts = Object.values(import.meta.glob('./../pages/posts/*.md', { eager: true }));
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());

function truncate(str, maxlength) {
return (str.length > maxlength) ? 
    str.slice(0, maxlength - 1) + '…' : str;
}
---

<Section style={"background-color: #A27F50"}>
    <SectionContent class="">
        <SectionProse class="">
            <h2>Latest blog posts</h2>
            {sortedPosts && sortedPosts.length > 0 ? (
                <ul class="">
                    {sortedPosts.map((post: any) => {
                        const shortenedContent = truncate(post.rawContent().trim(), 100);
                        return (
                            <Post class=" p-12" url={post.url} date={post.frontmatter.pubDate} image={post.frontmatter.image} title={post.frontmatter.title} body={shortenedContent} />
                        )
                    })}
                </ul>
            ) : (
                <p>Nothing to see here.</p>
            )}
        </SectionProse>
    </SectionContent>
</Section>