---
import Layout from '@/layouts/Layout.astro';
import Post from '@/components/Post.astro'
import { Section, SectionContent, SectionProse } from "@/components/ui/section"
import type { $input } from 'astro:schema';
import { getLangFromUrl, useTranslations } from '@/data/utils';

const lang = Astro.currentLocale

/*if (lang === 'en') {
    const allPosts = Object.values(import.meta.glob('@/pages/posts/en/*.md', { eager: true }));
    const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
} else {
    const allPosts = Object.values(import.meta.glob('@/pages/posts/fr/*.md', { eager: true }));
    const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
}*/

//const allPosts = Object.values(import.meta.glob('@/pages/posts/${lang}/*.md', { eager: true }));

let allPosts = []
if (lang === 'fr') {
  allPosts = Object.values(import.meta.glob('@/pages/fr/posts/*.md', { eager: true }))
} else if (lang === 'en') {
  allPosts = Object.values(import.meta.glob('@/pages/en/posts/*.md', { eager: true }))
}

const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());

function truncate(str, maxlength) {
return (str.length > maxlength) ? 
    str.slice(0, maxlength - 1) + '…' : str;
}   

const langUI = getLangFromUrl(Astro.url);
const t = useTranslations(langUI);
---

<Section style={"background-color: #A27F50"}>
    <SectionContent class="">
        <SectionProse class="">
            <h2>{t('blog.title')}</h2>
            {sortedPosts && sortedPosts.length > 0 ? (
                <ul class="">
                    {sortedPosts.map((post: any) => {
                        //const shortenedContent = truncate(post.rawContent().trim(), 100);
                        return (
                            <Post class="p-12" url={post.url} date={post.frontmatter.pubDate} image={post.frontmatter.image} title={post.frontmatter.title} body={post.frontmatter.description} tags={post.frontmatter.tags} />
                        )
                    })}
                </ul>
            ) : (
                <p>{t('blog.empty')}</p>
            )}
        </SectionProse>
    </SectionContent>
</Section>