---
import { Separator } from "./ui/separator";
import { Image } from "./ui/image";
const { title, url, body, date, image } = Astro.props;
const newDate = new Date(date);
const options = { year: 'numeric', month: 'long', day: '2-digit' };
const formattedDate = newDate.toLocaleDateString('en-US', options);
---

<Separator />
<div class="p-4">
	<div>
		<a href={url} class="max-w-min m-8">
			<h3 class="text-white underline contain-size">{title}</h3>
		</a>
		{
			image && <Image src={image.url} alt={image.alt} class="w-1/3"/>
		}
		<p class="mt-8 text-sm">{formattedDate}</p>
	</div>
	<p>{body}</p>
	</div>