---
import Switcher from "@/components/switcher.astro"
import "@/styles/global.css"
import { Button } from "@/components/ui/button"
import { Header, HeaderActions, HeaderContent } from "@/components/ui/header"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import {
	NavigationMenu,
	NavigationMenuContent,
	NavigationMenuItem,
	NavigationMenuLink,
	NavigationMenuList,
	NavigationMenuTrigger,
	navigationMenuTriggerStyle,
} from "@/components/ui/navigation-menu"
import { Section, SectionContent, SectionProse } from "@/components/ui/section"
import { Image } from "@/components/ui/image"
import { Separator } from "@/components/ui/separator"
import Switcher from "@/components/switcher.astro"
import Fivda from "@/images/fivda.png"
import bgStars from "@/images/big_01_space_g.png"
import logo from "@/images/logo_robin_horizontal_transpa_monochrome_white.png"
import FooterFivda from "@/components/FooterFivda.astro"
import favicon from "@/images/favicon.ico"
import { getRelativeLocaleUrl } from "astro:i18n"

const urlEN = getRelativeLocaleUrl("en", "/");
const urlFR = getRelativeLocaleUrl("fr", "/");

const socials = ["https://x.com/Fivda_","https://www.instagram.com/fivda_","https://bsky.app/profile/fivda.bsky.social", "mailto:kodamasoft@protonmail.com"]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>Fivda.net</title>
	</head>
	<body class="@container bg-slate-900 text-white">
		<Section class="bg-cover h-64 flex flex-col p-0 w-full gap-0 overflow-auto backdrop-brightness-150" style={`background-image: url(${bgStars.src})`}>
			<SectionContent class="gap-0 p-0 pt-4 h-64">
				<Header class="bg-transparent p-0 h-1/2 md:h-2/3 justify-center flex max-w-full w-full" >
					<HeaderContent class="flex w-full justify-center align-middle h-full">
						<Logo href="/" class="flex-1 w-full align-middle ml-4">
							<div class="object-contain p-2 box-content h-full">
								<LogoImage src={Fivda} alt="Fivda.net" class="w-full h-full rounded-2xl object-contain p-2"/>
							</div>
						</Logo>
						<div class="flex max-w-1/2 h-full">
							<Image src={logo} alt="Fivda.net" class="h-auto w-auto object-contain" />
						</div>
						<div class="flex-1"></div>
					</HeaderContent>
				</Header>
				
				<NavigationMenu class="bg-purple-900/30 md:h-1/2 h-2/3 w-full max-w-full justify-center flex">
					<NavigationMenuList class="gap-2 w-full font-bold flex flex-wrap flex-row justify-center items-center">
						<NavigationMenuItem value="home">
							<NavigationMenuLink href="/" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								Home
							</NavigationMenuLink>
						</NavigationMenuItem>
						{/*<NavigationMenuItem value="about">
							<NavigationMenuLink href="/about" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								About
							</NavigationMenuLink>
						</NavigationMenuItem>*/}
						<NavigationMenuItem value="blog">
							<NavigationMenuLink href="/blog" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								Blog
							</NavigationMenuLink>
						</NavigationMenuItem>
						{/*<NavigationMenuItem value="translations">
							<NavigationMenuLink href="/translations" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								Translations
							</NavigationMenuLink>
						</NavigationMenuItem>
						<NavigationMenuItem value="commissions">
							<NavigationMenuLink href="/commissions" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								Commissions
							</NavigationMenuLink>
						</NavigationMenuItem>
						<NavigationMenuItem value="credits">
							<NavigationMenuLink href="/credits" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								Credits
							</NavigationMenuLink>
						</NavigationMenuItem>
						<NavigationMenuItem value="contact">
							<NavigationMenuLink href="/contact" class={navigationMenuTriggerStyle()} class="bg-none p-4 hover:text-white focus:bg-purple-700/70 hover:bg-purple-700/50">
								Contact
							</NavigationMenuLink>
						</NavigationMenuItem>
						<Switcher />*/}
					</NavigationMenuList>
				</NavigationMenu>
			</SectionContent>
		</Section>
		
		<slot />

		<Separator class="bg-slate-800" />
		
		<FooterFivda logo={Fivda} socials={socials} />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
